{# apps/iris/templates/iris_base.html #}
{% extends "base.html" %}  {# {% from 'macros.html' import nav_link_item %}  #}
{% block content %}
<div class="container">
    <div class="row mb-3 mt-4">
        {% if current_user.is_authenticated and current_user.is_user() %}
            <div class="col-md-12 d-grid gap-2 mb-2">
                <a href="{{ url_for('iris.iris_predict') }}" class="btn btn-primary">예측</a>
            </div>
        {% elif current_user.is_authenticated and (current_user.is_expert() or current_user.is_admin()) %}
            <div class="col-md-4 d-grid gap-2 mb-2">
                <a href="{{ url_for('iris.iris_predict') }}" class="btn btn-primary">예측</a>
            </div>
            <div class="col-md-4 d-grid gap-2 mb-2">
                <a href="{{ url_for('iris.results') }}" class="btn btn-secondary">추론 목록</a>
            </div>
            <div class="col-md-4 d-grid gap-2 mb-2">
                <a href="{{ url_for('iris.logs') }}" class="btn btn-secondary">로그 목록</a>
            </div>
        {% endif %}
    </div>
    <hr>
    {% block iris_content %}{% endblock %}
</div>
{% endblock %}
